<#@include file="Enums.ttinclude" #>
<#
  var configFilePath = "app.config";
 
  var enums = new []
  {
    new EnumEntry
      ("Supported colors", "DefaultConntection", "dbo", "User", "Id", "UserName", "UserName")
      { GenerateUndefinedMember = true }
  };
 
  var code = this.GenerateEnums(configFilePath, enums);
 
  return code;
#>

//https://blog.tallan.com/2017/04/27/using-t4-templates-to-generate-c-enums-from-sql-server-database-tables/